.card {
  background: #f3f3f3;
  box-shadow: whitesmoke;
  border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: transparent;  
    border-radius: 8px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
}

.card h3 {
  color: rgba(247, 241, 241, 0.644);
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: 600;
    box-sizing: border-box;

}

.card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: blur;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

